body {
  width: 88%;
  max-width: 40em;
  margin: 1em auto;
  line-height: 1.5;
  text-align: center;
}

h1 {
  font-size: 2rem;
}

h2, p {
  font-size: 1.5rem;
}

table {
  width: 100%;
}

td, button {
  width: 90px;
  height: 90px;
}

td {
  display: inline-block;
}

button {
  border: 1px solid #d7d7d7;
  color: #000;
  background: none;
  font-size: 3rem;
  text-transform: uppercase;
  cursor: pointer;
}

:disabled {
  cursor: auto;
}